<div class="parent">
    <div class="container">
        <div class="content">
            <img src="https://res.cloudinary.com/debbsefe/image/upload/f_auto,c_fill,dpr_auto,e_grayscale/image_fz7n7w.webp"
                alt="header-image" class="cld-responsive">
            <h1 class="form-title">Register Here</h1>
            <form>
                <input type="text" placeholder="NAME">
                <div class="beside">
                    <input type="number" placeholder="PHONE NUMBER">
                    <select>
                        <option>GENDER</option>
                        <option>MALE</option>
                        <option>FEMALE</option>
                        <option>NON-BINARY</option>
                    </select>
                </div>
                <input type="email" placeholder="EMAIL ADDRESS">
                <input type="number" placeholder="CODE"><br>
                <button type="button">Submit</button>
            </form>
        </div>
    </div>
</div>